@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");

* {
  font-family: "Federo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: black;
  text-align: center;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  font-size: 16px;
}


nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link--list {
  display: flex;
  gap: 20px;
}
.nav_link--anchor {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav_link--anchor--primary {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.link_hover-effect {
  position: relative;
  overflow: hidden;
}
.link_hover-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
}   
.link_hover-effect:hover::after {
  left: 0;
}       
.link_hover-effect--black::after {
  background-color: rgba(0, 0, 0, 0.2);
}

